# Configurações de Acesso ao MinIO para URL Temporária do Certificado
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=seu_access_key
MINIO_SECRET_KEY=seu_secret_key
MINIO_BUCKET_NAME=public
MINIO_PREFIX=certificados/

# URL base para fallbacks de redirecionamento interno
NEXT_PUBLIC_SITE_URL=http://localhost:3000
